header#header {
	background: url(/image/header-noclouds.jpg) no-repeat center center;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
 	-o-background-size: cover;
  	background-size: cover;
	height: 100vh;
	color: white;
	h1 {
		margin: 1em 0 1em;
	}
	.logo {
		max-width: 300px;
		margin-top: 30px;
	}
	@media only screen and (max-width: 350px) {
		height: 500px;
		background: url(/image/header-mobile.jpg) no-repeat center center;
		-webkit-background-size: cover;
	  	-moz-background-size: cover;
	 	-o-background-size: cover;
	  	background-size: cover;
	}
	////////////////////////////////////////////////////////// < 800px
	@media only screen and (min-width : 800px) {
		.title {
			position: absolute;
			top: 50px;
			// right: 50px;
		}
		h1 {
		}
		h2 {
			margin-left: 30px;
		}
	}
	////////////////////////////////////////////////////////// < 800px
	@media only screen and (min-width : 1300px) {
		h2 {
			margin-left: 70px;
		}
	}
}