#main-content {
	&.overflow {
		overflow: no;
	}
	article {
		&.intro {
			@include blue;
		}
		&.organisation {
			color: $blue;
			.box {
				&.red {
					color: red;
				}
				margin-bottom: 1em;
				header, ul {
					border: solid 2px;
				}


				header {
					padding: 10px;
				}
				ul {
					border-top: 0;
					padding: 10px 10px 10px 1.8em;
					// list-style-type: none !important;
				}
				h2 {
					margin:0 0 1em;
				}
				&.circle {
					@include blue;
					width: 75%;
					margin: 0 auto 2em;
				}
			}
			.group {
				&.of-two .box{
					header, ul {
						border: solid 2px $blue;
					}
					ul {
							border-top: 0;
						}
				}
				.box {
						header, ul {
							border: solid 2px $bluelight;
						}
						ul {
							border-top: 0;
						}
					}
			}


		}
		&.example {
			@include blue;
		}
		&.timeline {

			ul {
				perspective: 1200;
				padding-left: 0;
				li:not(:first-child) {
					border-top: solid 1px;
				}

				li {
					margin-bottom: 1em;
					display: block;
					&:first-child {
						display: none;
					}
					&:last-child {
						padding-bottom: 1em;
					}
					span {
						display: block;
						margin-bottom: .5em;
					}
					&.is-hidden {
						opacity: 0;
						transition: 366ms transform cubic-bezier(.52,.01,.16,1) 100ms, 200ms opacity 200ms;
						transform: translate(0,-100%);
						transform-origin: 50% 0;
						backface-visibilty: hidden;
					}
					&.is-visible {
						opacity: 1;
						transition: 366ms transform cubic-bezier(.52,.01,.16,1) 100ms, 200ms opacity 200ms;
						transform: translate(0,0);
						transform-origin: 50% 0;
					}
				}
			}

		}
		&.phases {
			@include blue;
			figure{
				margin: 50px auto;
				max-width: 300px;
				&.desktop {
					display: none;
				}
			}
		}
		&.user {
			.group figure {
				max-width: 300px;
				margin-bottom: 1em;
			}

		}
		&.user, &.provider {
			.statement {
				color: $red;
				margin-left: 20px;
				margin: 2em 0 2.5em 20px;
				strong {
					display: block;
				}
			}
		}


		////////////////////////////////////////////////////////// < 500px
		@media only screen and (min-width : 500px) {
			&.organisation {

				.box.circle {
					width: 50%;
				}
			}
			&.timeline {
				// ul {
				// 	li {
				// 		@include flex-container(auto);
				// 		span {
				// 			@include flex-item(80%);
				// 			&:first-of-type {
				// 			@include flex-item(20%);



				// 			}
				// 		}
				// 	}
				// }
				ul {
					margin-top: 5em;
					li {
						span {
							display: inline-block;
							width: 80%;
							vertical-align:top;
							&:first-of-type {
								width: 20%;
							}
						}
						&:first-child  {
							display: block;
							span {
								transform: rotate(-90deg);
								transform-origin: left top 0;
							}
						}
					}
				}

			}
			&.phases {
				figure {
					max-width: 800px;
					&.mobile {
						display: none;
					}
					&.desktop {
						display: block;
					}
				}
			}
			&.user {
				.group {
					&.of-two {
						@include flex-container();
						>* {
							@include flex-item(70%);
							&:first-child {
								@include flex-item(30%);

							}
						}
					}

				}
			}
			&.user, &.provider {
				.statement {
					width: 400px;
					margin-left: 50px;
				}
			}
			h2, h3, p, &.intro li {
				margin-left: 50px;
			}
		}
		@media only screen and (min-width : 600px) {
			&.organisation .group {
					@include flex-container(space-between);
					width: 100%;
					.box {
						@include flex-item(30%);

					}

					&.of-two .box {
						@include flex-item(47%);

					}
				}
		}
		////////////////////////////////////////////////////////// < 800px
		@media only screen and (min-width : 800px) {
			&.organisation {
				.box {
					&.red {
						width: 300px;
						margin: 0 auto;
					}
					&.circle {
						background: white;
						color: $blue;
						margin: -50px auto -20px;
						width: 400px;
						>* {
							background: white;
							position: relative;
							z-index: 9;
							padding: 50%;
							h2, li {
								width: 300px;
								margin: 0 auto;
							}
							h2 {
								padding-top: 100px;
							}
						}
						header {
							padding: 0;
							height:200px;
					     	width:400px;
					     	border-radius: 600px 600px 0 0;
					     	text-align: center;
					     	// -moz-border-radius: 90px 90px 0 0;
     						// -webkit-border-radius: 90px 90px 0 0;
					     }
					     ul {
					     	padding: 0;
					     	padding-top: 10px;
					     	height:200px;
					     	width:400px;
					     	border-radius: 0 0 300px 300px;
					     	li {
					     		margin: 0 auto;
					     		width: 280px;
					     	}
					     }
					}
				}
				.group {
					&.of-two .box{
							@include flex-item(300px);

					}
				}
			}
			&.user, &.provider {
				.statement {
					margin-left: 400px;
					&.left {
						margin-left: -50px;
					}
				}
			}
		}
		////////////////////////////////////////////////////////// < 1300px
		@media only screen and (min-width : 1300px) {
			// &.organisation {
			// 	.center {
			// 		border: solid 2px;
			// 		border-radius: 50%;
			// 		height: 400px;
			// 		width: 400px;
			// 		header {
			// 			width: 50%;
			// 			margin: 10% auto;
			// 		}
			// 		ul {
			// 			border: none;
			// 			width: 80%;
			// 			margin: 0 auto;
			// 		}
			// 	}

			// }
			&.user, &.provider {
				.statement {
					margin-left: 520px;
				}
			}
		}
	}
}
