#nav-glossary {
	border-top: solid 1px $blue;
	z-index: 99;
	background: white;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	transition: height 1s cubic-bezier(0.94, 0.4, 0.25, 1), background 1s, color 1s;
	height: 4em;
	ul {
		padding-top: 30px;
		padding-bottom: 50px;
		padding-left: 0;
		list-style: none;
	}
	div.buttons {
		position: relative;
		> div {
			cursor: pointer;
			display: inline-block;
		}
		.dismiss {
			position: absolute;
			right: 10px;
			top: 0;
			margin-right: 0;
			visibility: hidden;
			font-size: 1.5em;
			@media only screen and (min-width : 500px) {
				right: 30px;
			}
			@media only screen and (min-width : 800px) {
				right: 50px;
			}
			@media only screen and (min-width : 900px) {
				right: 0;
			}

		}
	}
	nav#main-nav {
		overflow: hidden;
		height: 0;
		ul li {
			margin-bottom: 1em;
			border-top: solid 1px $blue;
		}
	}
	#glossary {
		height: 0;
		overflow: hidden;
		ul li {
			border-top: solid 1px; 
			margin-bottom: 1em;
			padding-left: 0;
			span {
				display: block;
				margin-bottom: .5em;
				@media only screen and (min-width : 600px) {
					display: inline-block;
					width: 80%;
					vertical-align:top;
					&:first-of-type {
						width: 20%;
					}
				}
			}
		}			
	}
	&.menu-active {
		height: 100vh;
		nav#main-nav {
			height: auto;
			opacity: 1;
			padding-top: 0;
		}
		.menu-toggle {
			border-top: solid 1px;
		}
	}
	&.glossary-active {
		height: 100vh;
		@include blue;
		nav#main-nav {
		}
		.glossary-toggle {
			border-top: solid 1px;
		}
		#glossary {
			height: auto;
			overflow: auto;
		}
	}
	&.menu-active, &.glossary-active {
		height: 100%;
		overflow: auto;
		ul {
			transition: opacity 1s;

			padding-top: 0;
			opacity: 1 !important;
		}
		div.buttons .dismiss {
			visibility: visible;
		}
	}
}