
#container {
	padding: 15px 10px;
}
.buttons > div {
	margin: 10px 30px 15px 10px;
}
////////////////////////////////////////////////////////// < 500px
@media only screen and (min-width : 500px) {
	#container {
		padding: 30px;
	}
	.buttons > div {
		margin: 10px 30px 15px 30px;
	}
}

////////////////////////////////////////////////////////// < 800px
@media only screen and (min-width : 800px) {
	#container {
		padding: 50px;
	}
	.buttons > div {
		margin: 10px 50px 15px 50px;
	}
}
////////////////////////////////////////////////////////// < 800px
@media only screen and (min-width : 900px) {
	#container, .wrapper, .buttons {
		width: 800px;
		margin: 0 auto;
	}

	#container {
		padding: 50px 0 60px;

	}
	.buttons > div {
		margin: 10px 20px 10px 0;
	}
}
////////////////////////////////////////////////////////// < 1300px
@media only screen and (min-width : 1300px) {
	#container, .buttons {
		width: 1000px;
		margin: 0 auto;
	}

}