// This file is for testing and import styles only.

// Import Area

@import "compass/reset";
@import "variables";
@import "mixins";
@import "typo";
@import "global";
@import "header";
@import "main-content";
@import "page-context";
@import "glossary";

// Testing Area
i {
	font-style: italic;
}

body, html {
	&.overflow {
		height: 100%;
		overflow: hidden;
	}
}
footer {
	margin-bottom: 2em;
}
////////////////////////////////////////////////////////// < 500px
@media only screen and (min-width : 500px) {

}
////////////////////////////////////////////////////////// < 800px
@media only screen and (min-width : 800px) {

}
////////////////////////////////////////////////////////// < 1300px
@media only screen and (min-width : 1300px) {

}